@{
    ViewData["Title"] = L["LoginTitle"];
}

<h1 class="mb-4">@L["LoginTitle"]</h1>

<form asp-action="Login" method="post" class="w-50">
    <div class="mb-3">
        <label class="form-label">@L["Email"]</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-4">
        <label class="form-label">@L["Password"]</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">@L["LoginBtn"]</button>
</form>
