@{
    ViewData["Title"] = "Logged out";
}

<h1 class="mb-4">You've just been logged out</h1>

<p>
    Would you like to
    <a href="/Account/Login">@L["LoginBtn"]</a>
    or
    <a href="/Account/Register">@L["RegisterBtn"]</a>
    again?
</p>
