<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@L["Welcome"]</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">@L["Welcome"]</a>
            <a href="#">@L["LogoutButton"]</a>
        </nav>
        <form asp-controller="Language" asp-action="Set" method="get">
            <select name="culture" onchange="this.form.submit();">
                <option value="en">English</option>
                <option value="pl">Polski</option>
            </select>
        </form>

    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
